@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1241px) {
  body {
    display: flex;
    place-items: center;
  }
}

button {
  background-color: var(--color-border);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20vw;
}

button:hover {
  background-color: var(--color-border-hover);
}

button:focus-visible {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-border);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-border-hover);
}

.error {
  font-size: 14px;
  color: #ff006e;
}
